@media (min-width: 992px) {
  .form-register {
    margin: 15%;
    padding: 25px;
    border: solid 4px #ff0000;
    border-radius: 5px;
  }
}

.form-register h1 {
  text-shadow: 3px 3px 5px gray;
}
.form-register {
  margin: 0;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%,-50%);
  top:50%;
  left: 50%;
  width: 75%;
}